---
{
  'layout': 'default',
  'title': 'Archive'
}
---
<article>
  <h2 class="title">Archive</h2>

  <h3>Archive</h3>

  {% for year in set([ p.date.year for p in site.posts ]) %}
  <h4 class="underline">{{ year }}</h4>
  
  <div style="padding:0 2em">
    {% for post in filter(lambda p: p.date.year == year, site.posts) %}
    <h5 style="margin-top:1em"><a href="{{ site.config.basedir }}{{ post.url }}">{{ post.title }}</a></h5>

    {% if 'tags' in post and post.tags %}
    <ul class="mute small italic inline">
      <li>Tags:</li>
      {% for tag in post.tags %}
      <li><a href="{{ site.config.basedir }}tags/{{ tag }}.html">{{ tag }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
  </div>
  
  {% endfor %}
</article>
