---
{
  'layout': 'default'
}
---
{% for post in sorted(site.posts, key=lambda p:p.date, reverse=True)[:2] %}
<article>
  <h2>
    <a class="title" href="{{ site.config.basedir }}categories/{{ post.category }}.html">{{ post.category }}</a>
    <time datetime="{{ post.date.strftime('%Y-%m-%d') }}">{{ post.date.strftime('%B %d, %Y') }}</time>
  </h2>
  
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
  
  {{ post.content }}

  {% if 'tags' in post and post.tags %}
  <hr style="margin-bottom:0.5em">
  <ul class="mute small italic inline">
    <li>Tags:</li>
    {% for tag in post.tags %}
    <li><a href="{{ site.config.basedir }}tags/{{ tag }}.html">{{ tag }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</article>
{% endfor %}
