@charset "utf-8";

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  transition: color 0.4s ease,
  opacity 0.4s ease;
}

body {
  color: #222;
  background: #fff;
  width: 100%;
  line-height: 1.35em;
  font-size: 12.5pt;
  font-family: Open Sans, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #5af;
}

h3 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}
article > h2 + h3 {
  margin-top: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
}

hr {
  width: 70%;
  height: 1px;
  margin: 2em auto;
  border: none;
  border-top: 1px dotted #aaa;
  display: block;
}

img {
  max-width: 80%;
  margin: 2em auto;
  display: block;
}

.mute {
  opacity: 0.7;
  a { color: inherit; }
  a:hover { opacity: 0.4 }
}
.small {
  font-size: 70%;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.left {
  float: left;
  text-align: left;
}
.right {
  float: right;
  text-align: right;
}
.space {
  height: 2em;
  display: block;
  opacity: 0;
}

form#contact {
  margin: 2em auto;
  width: 90%;

  > * {
    width: 100%;
    display: block;
    box-shadow: none !important;
  }
  label:not(first-of-type) {
    margin-top: 1em;
  }
  input[type="text"], textarea {
    padding: 0.5em;
  }
  button {
    margin-top: 2em;
    padding: 0.6em;
  }
}

header {
  width: 100%;
  
  nav {
    border-bottom: 1px solid #ccc;
    padding: 0.8em 1em;

    ul {
      list-style-type: none;
      
      li { display: inline; }
      li + li { margin-left: 0.6em }
    }
  }
  h1 {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0.8em 0 0.8em 0.4em;
    margin: 2px 0;
  }
}

#main {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: table;
  vertical-align: top;
  width: 100%;
  margin: 2px 0;
  overflow: hidden;

  /* for title of sidebar */
  article {
    > h2.title {
      padding: 0.2em 10px 0 10px;
      border-bottom: 1px solid #ccc;
    }
  }
  article:not(:first-of-type) {
    > h2.title {
      border-top: 1px solid #ccc;
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
  }
  
  /* for title of posts */
  article {
    position: relative;
    
    > h2 {
      width: 100%;
      color: #888;
      padding-top: 0.2em;
      margin-bottom: 1em;
      font-size: 1.1em;
      font-weight: normal;
      display: table;
      height: 1.5em;
      line-height: 1.5em;
      overflow: hidden;      
      white-space: nowrap;
                     
      > .title {
        padding: 0 5px;
        border-bottom: 1px solid #ccc;
	      display: table-cell;
	      width: 2em;
	      position: relative;
	      text-align: center;
      }
      > .title:before {
        content: " ";
	      width: 100%;
	      height: 3px;
	      display: block;
	      position: absolute;
        left: 0;
	      right: 0;
	      bottom: 0;
	      background-color: #ccc;
      }
      > time {
        padding: 0 5px;
        border-bottom: 1px solid #ccc;
	      display: table-cell;
      }
    }
  }
  article:not(:first-of-type) {
    > h2 {
      margin-top: 1em;
      > .title, > time {
        border-top: 1px solid #ccc;
      }
    }
  }

  > #content {
    display: table-cell;
    min-width: 60%;
    padding-bottom: 2em;
    
    article {
      > * {
        padding: 0 10px;
      }
      h2:first-of-type {
        padding: 0;
      }
      h2.title {
        padding: 0.2em 10px 0 10px;
      }

      p + p {
        margin-top: 0.8em;
      }
      ul {
        margin: 2em 0;
        padding: 0 2em 0 4em;
      }
      ul.inline {
        list-style-type: none;
        margin: 0;
        padding: 0 10px;
        
        li { display: inline }
        li + li { margin-left: 0.5em; }
      }
      blockquote {
        max-width: 80%;
        margin: 2em auto;
        padding: 0.5em;
        background: #eee;
        display: block;
      }
    }
  }
  > #side {
    display: table-cell;
    min-width: 30%;
    border-left: 1px solid #ccc;
    color: #555;
    line-height: 1.2em;

    article {
      p {
        font-size: 0.9em;
        padding-left: 10px;
      }
      ul {
        list-style-type: none;
        font-size: 0.9em;
        padding-left: 10px;
      }
      img {
        max-width: 90%;
        margin: 0 auto;
      }
      img + p {
        margin-top: 1em;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  #main {
    display: block;
    > #content, > #side { display: block; }
  }
}

footer {
  border-top: 1px solid #ccc;
  margin-top: 2px;
  padding: 0.8em 0;
  text-align: right;
  font-size: 0.8em;
  line-height: 1em;

  * {
    color: #666;
    font-style: italic;
  }
  nav {
    margin-top: 0.5em;
    
    ul {
      list-style-type: none;
      
      li { display: inline; }
      li + li { margin-left: 0.3em }
    }
  }
  a:hover { color: #666; opacity: 0.4; }
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.mfp-container {
  img[src^="/assets/media"] {
  }
}
