---
{
  'title': 'Hello, honey.py',
  'layout': 'post',
  'category': 'cat',
  'tags': [ 'python', 'web' ]
}
---
<img src="{{ site.config.basedir }}assets/media/sample.jpg">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis augue sapien, condimentum nec suscipit sit amet, tempor nec ex. Donec vitae scelerisque dui, sed venenatis tortor. Mauris facilisis consequat leo ac aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fringilla a tellus posuere eleifend.</p>

<ul>
  <li>donec non</li>
  <li>mollis enim</li>
  <li>non ultrices</li>
  <li>erat</li>
</ul>

<p>Nunc rutrum ut purus id vehicula. Phasellus pulvinar pellentesque convallis. In vel velit in leo posuere vestibulum. Vivamus pharetra consectetur leo id consequat. Cras rhoncus ex pellentesque est volutpat, nec finibus metus fringilla. Donec at diam lacus.</p>

<blockquote>Aliquam in suscipit massa. Vivamus ac molestie est, ac consequat massa. Nam semper libero at libero ultrices, id volutpat nibh ornare.</blockquote>

<p>Donec elementum, nisl eget vulputate congue. Est mauris pharetra leo, sed eleifend turpis tortor molestie felis.</p>
