---
{
  'title': 'White',
  'layout': 'post',
  'category': 'cat',
  'tags': [ 'python' ]
}
---
<img src="{{ site.config.basedir }}assets/media/sample.jpg">

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce eget diam eu nisi fermentum lacinia. Donec suscipit tellus ut velit tincidunt ultricies. Vestibulum metus enim, bibendum quis dolor semper, bibendum ornare urna. Phasellus dignissim consequat justo sed pellentesque. Mauris lobortis urna a velit fringilla feugiat. Quisque non urna velit. Donec in augue et sem pharetra placerat.</p>

<p>Nulla et ex molestie, consequat dui id, vehicula lorem. Nullam et nulla sit amet erat venenatis fringilla. Donec ultrices augue id nibh commodo, eu laoreet purus feugiat. Curabitur congue commodo ex, eu tincidunt arcu mollis non. Proin tristique lacus tellus, a congue augue efficitur vitae. Nam neque quam, rutrum vitae nisl ut, egestas dictum nulla. Proin sit amet commodo diam. Vivamus lobortis sapien dolor, sit amet maximus est euismod et. Proin commodo pulvinar justo, et ornare justo facilisis ut. Pellentesque finibus sed nibh vel fermentum. Ut vestibulum, metus ut ultrices rutrum, ante quam gravida eros, sit amet molestie nunc nisl id est. Suspendisse accumsan a ipsum nec faucibus. Vivamus vel ligula quis velit posuere dignissim eget id magna. Nunc lobortis rutrum augue a semper.</p>
