---
{
  'layout': 'default'
}
---
<article>
  <h2 class="title">{{ title }}</h2>

  {% for post in sorted(posts, key=lambda p:p.date, reverse=True) %}
  <h3><a href="{{ site.config.basedir }}{{ post.url }}">{{ post.title }}</a></h3>
  {% if 'description' in post %}
  <p style="padding-left:1em">{{ post.description }}</p>
  {% endif %}
  <p class="mute small italic" style="line-height:1em;text-align:right">
    <time datetime="{{ post.date.strftime('%Y-%m-%d') }}">{{ post.date.strftime('%b %d') }}</time>
  </p>
  {% if 'tags' in post and post.tags %}
  <ul class="mute small italic inline right">
    {% for tag in post.tags %}
    <li><a href="{{ site.config.basedir }}tags/{{ tag }}.html">{{ tag }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endfor %}  
</article>
