---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% if 'title' in locals() %}
  <title>{{ title }}</title>
  {% else %}
  <title>{{ site.config.title }}</title>
  {% endif %}
  {% if 'description' in locals() %}
  <meta name="description" content="{{ description }}">
  {% endif %}
  {% if 'keywords' in locals() %}
  <meta name="keywords" content="{{ keywords }}">
  {% endif %}
  {% if 'author' in site['config'] %}
  <meta name="author" content="{{ site.config.author }}">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ site.config.basedir }}assets/css/magnific-popup.css">
  <link rel="stylesheet/less" type="text/css" href="{{ site.config.basedir }}assets/css/style.less">
  <link rel="alternate" href="{{ site.config.basedir }}feed.atom" type="application/atom+xml" title="{{ site.config.title }} - Atom">
  <script src="{{ site.config.basedir }}assets/js/less.min.js" ></script>  
  <meta name="generator" content="{{ site.config.generator }}">
</head>
<body>
  <div class="wrapper">
    <header>
	    <nav>
	      <ul>
	        <li><a href="{{ site.config.basedir }}" title="{{ site.config.title }}">Home</a></li>
	        <li><a href="{{ site.config.basedir }}archive.html">Archive</a></li>
	      </ul>
	    </nav>
	    <h1><a href="{{ site.config.basedir }}">{{ site.config.title }}</a></h1>
    </header>

    <div id="main">
	    <div id="content">
        {{ content }}
	    </div>
      
	    <div id="side">
	      <article>
	        <h2 class="title">About</h2>
	        <img src="{{ site.config.basedir }}assets/media/profile.jpg">
	        <p>Welcome to the honey.py with White.</p>
	      </article>
	      <article>
	        <h2 class="title">Latest</h2>
          <ul class="italic">
            {% for post in sorted(site['posts'], key=lambda p:p.date, reverse=True)[:10] %}
            <li><a href="{{ site.config.basedir }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
	      </article>
        <div class="space"></div>
	    </div>
    </div>

    <footer>
	    <address>&copy; {{ site.config.date.year }} {{ site.config.author }} &middot; Powered by <a href="https://github.com/libpy/honey.py">honey.py</a>, <a href="https://gitlab.com/honeypythemes/white">White</a></address>
    </footer>
  </div>

  <script src="{{ site.config.basedir }}assets/js/jquery-3.3.1.min.js"></script>
  <script src="{{ site.config.basedir }}assets/js/jquery.magnific-popup.js"></script>
  <script>
    $('#content img[src*="/assets/media"]').each(function(){
      var $this = $(this);
      $this.magnificPopup({
        items: {
          src: $this.attr('src')
        },
        type: 'image'
      }).css('cursor', 'pointer');
    });
  </script>
</body>
</html>
