---
{
  'layout': 'default'
}
---
<article>
  <h2>
    <a class="title" href="{{ site.config.basedir }}categories/{{ category }}.html">{{ category }}</a>
    <time datetime="{{ date.strftime('%Y-%m-%d') }}">{{ date.strftime('%b %d') }}</time>
  </h2>

  <h3><a href="{{ url }}">{{ title }}</a></h3>

  {{ content }}

  {% if 'tags' in locals() and len(tags) > 0 %}
  <hr style="margin-bottom:0.5em">
  <ul class="mute small italic inline">
    <li>Tags:</li>
    {% for tag in tags %}
    <li><a href="{{ site.config.basedir }}tags/{{ tag }}.html">{{ tag }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</article>

<article>
  <nav style="width:100%;">
    <ul style="list-style-type:none">
      <li class="left">{% if 'previous' in locals() %}<a href="{{ site.config.basedir }}{{ previous['url'] }}">&laquo; Prev</a>{% endif %}</li>
      <li class="right">{% if 'next' in locals() %}<a href="{{ site.config.basedir }}{{ next['url'] }}">Next &raquo;</a>{% endif %}</li>
    </ul>
    <div style="clear:both"></div>
  </nav>
<article>
